// Theme Colors
$theme-purple: #2e1e42;
$theme-green: #50b475;
$theme-toggled: rgba($theme-green, 0.3);

// Base Colors
$base-white: #fff;
$base-black: #111;

// App Colors
$primary-background-color: #fafafa;
$primary-foreground-color: $base-white;
$primary-accent-color: $theme-green;
$primary-shadow-color: #000;
